<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Face Detection</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}"> 
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body bgcolor="#66b3f2">
	<nav class="navbar navbar-primary bg-primary">
	  <div class="container-fluid">
	    <span class="navbar-brand mb-0 h1">Face Detection</span>
	  </div>
	</nav>
	<br>s
	{% block content %}{% endblock %}

</body>
</html>